version: "3.9"

services:
  mongo:
    image: mongo:6
    container_name: todo-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    container_name: todo-backend
    restart: always
    env_file:
      - ./backend/.env
    environment:
      MONGO_URI: mongodb://mongo:27017/todo   # ⬅ IMPORTANT FIX
      JWT_SECRET: a7e0c6b7a469d05e8e81618d8230cb5f95ffec0ea2f9281b8e84cadab7ad6433              # ⬅ Ensure backend gets your JWT secret
    ports:
      - "8000:8000"
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: todo-frontend
    restart: always
    ports:
      - "5173:5173"
    depends_on:
      - backend

volumes:
  mongo_data:
