services:
  backend:
    image: bhargav1605/todo-backend:${BUILD_NUMBER}
    container_name: todo-backend
    ports:
      - "5000:5000"
    restart: always

  frontend:
    image: bhargav1605/todo-frontend:${BUILD_NUMBER}
    container_name: todo-frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    restart: always
