services:
  backend:
    image: bhargav1605/todo-backend:latest
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    restart: always


  frontend:
    image: bhargav1605/todo-frontend:${BUILD_NUMBER}
    container_name: todo-frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    restart: always
